DATABASE_URL=postgres://openradio:openradio_dev@localhost:5432/open_radio
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/spotify/callback
SPOTIFY_PRODUCTION_REDIRECT_URI=
SESSION_ENCRYPTION_KEY=
